 ::-webkit-scrollbar-thumb {
    background-color: rgb(196, 189, 189);
    border: 4px solid transparent;
    border-radius: 18px;
    background-clip: border-box;
}

 ::-webkit-scrollbar {
    width: 12px;
    color: blue;
  }